* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

h1 {
  font-size: 80px;
  color: rgb(225, 225, 225);
  text-shadow: 0.0625rem 0.0625rem 0.25rem black;
}

#first_section {
  background-color: #2f01ff;
}

#second_section {
  background-color: #3c01ff;
}

#third_section {
  background-color: #5601ff;
}

#fourth_section {
  background-color: #8901ff;
}
